.jumbotron {
  background:#1C2743;
}

h2, h4 {
  color: rgb(99, 100, 180);
  font-family: 'Timmana', sans-serif;
  font-size: large;
}

p {
  color: rgb(100, 123, 253);
  font-family: 'Assistant', sans-serif;
  font-size: 1.5rem;
}

.table {
  background:  rgb(100, 123, 253);
  color: rgb(255, 255, 255);
  font-family: 'Assistant', sans-serif;
}

.thead {
  background: #213862;
  font-family: 'Assistant', sans-serif;
  font-size: large;
}

.table td, .table th {
  border-top: 1px solid rgb(44, 7, 248);
}